<div class="aside" tabindex="-1" role="dialog">
    <div id="aside-dialog" class="aside-dialog">
        <div id="aside-content" class="aside-content">
            <div class="aside-header" ng-show="title">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="aside-title" ng-bind-html="vm.aside.title"></h4>
            </div>

            <!-- FEEDBACK -->
            <div class="faside-body" ng-show="vm.feedback">
                <div class="canvas-container container demo-3">
                    <div class="content">
                        <div id="large-header" class="large-header ng-class:{ 'wrong-answer': vm.aside.correct==false };">
                            
                            <canvas id="demo-canvas"></canvas>
                            <h1 class="animation-feedBackTitle" ng-bind-html="vm.aside.feedBackTitle"></h1>
                            <h4 class="animation-feedBackSubTitle" ng-bind-html="vm.aside.feedBackSubTitle"></h4>
                        </div>
                    </div>
                </div><!-- /canvas-container -->

                <!-- coupon-container -->
                <div id="coupon-container" class="well asidewell" ng-repeat="coupon in vm.aside.coupons" ng-show="coupon.valid" >
                    <div class="caption text-center">
                        <h3 class="londrinaText">{{coupon.title}}  <small ng-bind="coupon.subtitle"></small></h3>
                    </div>
                    <div class="thumbnail text-center">
                        <img ng-src="{{coupon.sponsor_logo}}" alt="{{coupon.sponsor}}">
                    </div>
                    <div class="caption text-center">
                        <h3 class="londrinaText" ng-bind="coupon.description"></h3>
                    </div>
                </div><!-- /coupon-container -->
            </div><!-- /aside-body -->
            <!-- END FEEDBACK -->

            <!-- QUESTION AND OPTIONS -->
            <div class="aside-body">
                <div class="well asidewell">
                    <div class="text-center admit-box">
                        <h4 ng-bind="vm.data.description"></h4>
                        <!--busy-message>
                            <div class="caption text-center">
                                <h3 class="londrinaText">Validating  <i class="fa fa-refresh fa-spin"></i></h3>
                            </div>
                        </busy-message-->
                    </div>

                    <form name="form" role="form">
            		    <div class="form-group">
                            <div class="btn-group-vertical btn-block" bs-radio-group>
                                <button ng-repeat="opt in vm.data.options" type="radio" class="fx-pulse fx-speed-1232 btn btn-default" value="{{opt.value}}" ng-click="vm.validateAnswer({{opt.value}})" bs-radio>
                                    {{opt.option}}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <!-- END QUESTION AND OPTIONS -->

            <div class="aside-footer">
                <button ng-repeat="button in vm.aside.buttons" type="button" class="btn btn-{{button.styleClass}} btn-lg btn-block" ng-click="{{button.onClick}}">{{button.text}} <i class="{{button.fontIcon}}"></i>
                </button>
            </div>
        </div>
    </div>
</div>