<!--     <div class="main"> -->
        <h1 id='rewards_title' class="rewards_h1">My Rewards</h1>
        <ul id="og-grid" class="og-grid">
            <!--        ng-class="'color' + ( $index % 3 )"  Three different colors -->
            <li id='li_{{reward.coupon_code}}' ng-repeat='reward in vm.data.rewards' class="reward_item_li">
                <a id='anchor_{{reward.coupon_code}}' ng-click='vm.clickedItem( reward )' href="" data-largesrc="{{reward.img_uri}}" data-title="{{reward.description}}" data-description="{{reward.detail}}">
                    <img class="responsive" ng-src="https://process.filestackapi.com/AhTgLagciQByzXpFGRI0Az/resize=fit:clip,width:195,height:195/{{reward.img_uri}}" alt="{{reward.description}}">
                </a>
                <div id='preview_{{reward.coupon_code}}' class="og-expander" print-section>
                    <div class="og-expander-inner">
                        <span ng-click='vm.closePreview( )' class="og-close" print-remove></span>
                        <div class="og-fullimg">
                            <div class="og-loading" style="display: none;"></div>
                            <img ng-src="{{reward.img_uri}}" style="display: inline;">
                        </div>

                        <div class="og-details">
                            <h3>{{reward.description}}</h3>
                            <p>{{reward.detail}}</p>
                            <div class='og_details_options' print-remove>
                                <div ng-repeat='option in reward.redeem_options' class='rewards_details_options'>
                                    <a ng-id="option.id" ng-class="{ 'selected': reward.selectedOption == option.id }" 
                                        ng-click="vm.couponOptions( reward, option.id )" 
                                        attributes='option.attrs'
                                        href="">
                                        {{option.description}}
                                    </a>
                                </div>

<!--
                                <a ng-if='vm.optionEnabled( reward, "qrcode" )' id="qrcode" ng-class="{ 'selected': vm.detailView == 'qrcode' }" ng-click="vm.couponOptions( 'qrcode' )" href="">QR Code</a>
                                <a ng-if='vm.optionEnabled( reward, "barcode" )' id="barcode" ng-class="{ 'selected': vm.detailView == 'barcode' }" ng-click="vm.couponOptions( 'barcode' )" attributes='reward.redeem_options[ 1 ].attrs' href="">Bar Code</a>
                                <a ng-if='vm.optionEnabled( reward, "copycode" )' id="copycode" ng-class="{ 'selected': vm.detailView == 'copycode' }" ng-click="vm.couponOptions( 'copycode' )" attributes='reward.redeem_options[ 2 ].attrs' data-clipboard-text='{{reward.coupon_code}}' href="">Copy</a>
                                <a ng-if='vm.optionEnabled( reward, "print" )' id="print" ng-class="{ 'selected': vm.detailView == 'print' }" ng-click="vm.couponOptions( 'print' )" attributes='reward.redeem_options[ 3 ].attrs' href="">Print</a>
-->
                            </div>
                            <div class="og_details_code" print-remove>
                                <qrcode ng-show='reward.selectedOption == "qrcode"' version="2" error-correction-level="M" size="200" data="{{reward.coupon_code}}"></qrcode>
                                <io-barcode ng-show='reward.selectedOption == "barcode"' options="reward.barcode_options" code="{{reward.coupon_code}}" type="CODE128B"></io-barcode>
                                <div ng-show='reward.selectedOption == "copycode"' style='margin: 20px auto;'>
                                    <span style="color: #000; font-size: 18px; display: block;">The redemption code has been Copied!.</span>
                                    <span style="color: #000; font-size: 22px; display: block; margin: 10px auto;"><strong >{{reward.coupon_code}}</strong ></span>
                                    <span style="color: #000; font-size: 18px; display: block;">{{reward.copyText}}</span>
                                </div>
                                <img ng-show='reward.selectedOption == "print"' ng-src="http://primg.checkpointchallenge.com:81/utils/form_icons/printer.svg" style="max-width: 200px">
                            </div>
                            <div class="og_details_code" print-only>
                                <qrcode ng-if='reward.print_option == "qrcode"' version="2" error-correction-level="M" size="200" data="{{reward.coupon_code}}"></qrcode>
                                <io-barcode ng-if='reward.print_option == "barcode"' options="reward.barcode_options" code="{{reward.coupon_code}}" type="CODE128B"></io-barcode>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
<!--     </div> -->

    <script type="text/javascript">
    </script>
