<form id="profile_form" name="profile_form" ng-submit="vm.update( )" class="cd-form floating-labels"   ><!-- auto-save-form="vm.update( )" -->
	<fieldset>
		<legend>Interests <span ng-show="vm.countCategoriesSelected < 3"> ( Select at least 3 )</span> </legend>
		<small >( For now, all categories will be selected for you )</small >
        <ul class="category_list">
            <div  ng-repeat='category in vm.profile.form_extra.select_category' id="{{ category.challenge_category_seqid }}_parent" class="category_list_element" >
                <li ng-style="category.checked === true && { backgroundColor: category.background_color }" id="{{ category.challenge_category_seqid }}" ng-click="vm.toggleCategory( category )" class="checkbox {{ category.fa_class }} ng-class:{ 'is-checked': category.checked }">
                </li>
                <div class="category_list_title" >
                    {{ category.category_title }}
                </div>
            </div>
<!--
                <li ng-repeat='category in vm.profile.form_extra.select_category' id="{{ category.challenge_category_seqid }}" ng-click="vm.toggleCategory( category )" class="checkbox {{ category.fa_class }} ng-class:{ 'is-checked': category.checked }">
                </li>
-->

<!--
            <li ng-click="vm.toggleCategory( vm.profile.form_extra.select_category[ 1 ] )" class="checkbox heart fa fa-heart"></li>
            <li ng-click="vm.toggleCategory( vm.profile.form_extra.select_category[ 2 ] )" class="checkbox star fa fa-star"></li>
            <li class="checkbox email is-checked"></li>
            <li class="checkbox bell"></li>
            <li class="checkbox map"></li>
            <li class="checkbox wifi is-checked"></li>
-->
        </ul>
         
		<div>
	      	<input type="submit" value="Save">
	    </div>
	</fieldset>

	<fieldset>
		<legend>Basic Info</legend>

        <!-- First Name -->
		<div class="icon">
			<label class="cd-label" ng-class="{ 'float': vm.profile.data.fname, 'label_error': profile_form.fname.$dirty && profile_form.fname.$error.required }" for="fname">
				First Name
                <span ng-show="profile_form.fname.$dirty && profile_form.fname.$error.required"> required</span>
			</label>
            <input class="user" ng-class="{ 'error': profile_form.fname.$dirty && profile_form.fname.$error.required }" ng-model='vm.profile.data.fname' id="fname" name="fname" type="text" required>
	    </div> 

        <!-- Last Name -->
		<div class="icon">
			<label class="cd-label" ng-class="{ 'float': vm.profile.data.lname, 'label_error': profile_form.lname.$dirty && profile_form.lname.$error.required }" for="lname">
				Last Name
                <span ng-show="profile_form.lname.$dirty && profile_form.lname.$error.required"> required</span>
			</label>
            <input class="user" ng-class="{ 'error': profile_form.lname.$dirty && profile_form.lname.$error.required }" ng-model='vm.profile.data.lname' id="lname" name="lname" type="text" required>
	    </div> 

        <!-- UserId -->
		<div class="icon">
			<label class="cd-label" ng-class="{ 'float': vm.profile.data.login_userid, 'label_error': profile_form.login_userid.$dirty && profile_form.login_userid.$error.required }" for="login_userid">
				User Id
                <span ng-show="profile_form.login_userid.$dirty && profile_form.login_userid.$error.required"> required</span>
			</label>
            <input class="login_userid" ng-model='vm.profile.data.login_userid' id="login_userid" name="login_userid" ng-class="{ 'error': profile_form.login_userid.$dirty && profile_form.login_userid.$error.required }" type="text" required>
	    </div> 

        <!-- E-Mail -->
	    <div class="icon">
			<label class="cd-label" ng-class="{ 'float': vm.profile.data.primary_email, 'label_error': profile_form.primary_email.$dirty && profile_form.primary_email.$error.required }" for="primary_email">
				E-Mail
                <span ng-show="profile_form.primary_email.$dirty && profile_form.primary_email.$error.required"> required</span>
			</label>
            <input class="email primary_email" ng-model='vm.profile.data.primary_email' id="primary_email" name="primary_email" ng-class="{ 'error': profile_form.primary_email.$dirty && profile_form.primary_email.$error.required }" type="text" required>
	    </div>

        <!-- BirthDate -->
	    <div class="icon">
            <label class="cd-label float">
    			Birthdate - {{ vm.age( ) }}
    		</label>
            <div class="profile_birthdate">
        	    <div class="birthdate">
                    <label class="cd-label" ng-class="{ 'float': vm.profile.birth.day || profile_form.birthday.$dirty, 'label_error': profile_form.birthday.$dirty && !profile_form.birthday.$valid }" for="birthday">
        				Day
                        <span ng-show="profile_form.birthday.$dirty && profile_form.birthday.$error.required"> required</span>
                        <span ng-show="profile_form.birthday.$dirty && ( profile_form.birthday.$error.max || profile_form.birthday.$error.min )"> Not valid</span>
        			</label>
                    <input class="birthdate" ng-model='vm.profile.birth.day' id="birthday" name="birthday" ng-class="{ 'error': profile_form.birthday.$dirty && profile_form.birthday.$error.required }" type="number" min="1" max="31" required>
                </div>
    
        	    <div class="birthdate">
        			<label class="cd-label" ng-class="{ 'float': vm.profile.birth.month || profile_form.birthmonth.$dirty, 'label_error': profile_form.birthmonth.$dirty && !profile_form.birthmonth.$valid }" for="birthmonth">
        				Month
                        <span ng-show="profile_form.birthmonth.$dirty && profile_form.birthmonth.$error.required"> required</span>
                        <span ng-show="profile_form.birthmonth.$dirty && ( profile_form.birthmonth.$error.max || profile_form.birthmonth.$error.min )"> Not valid</span>
        			</label>
                    <input class="birthdate" ng-model='vm.profile.birth.month' id="birthmonth" name="birthmonth" ng-class="{ 'error': profile_form.birthmonth.$dirty && profile_form.birthmonth.$error.required }" type="number" min="1" max="12" required>
                </div>
    
        	    <div class="birthdate">
        			<label class="cd-label" ng-class="{ 'float': vm.profile.birth.year || profile_form.birthyear.$dirty, 'label_error': profile_form.birthyear.$dirty && !profile_form.birthyear.$valid }" for="birthyear">
        				Year
                        <span ng-show="profile_form.birthyear.$dirty && profile_form.birthyear.$error.required"> required</span>
                        <span ng-show="profile_form.birthyear.$dirty && ( profile_form.birthyear.$error.max || profile_form.birthyear.$error.min )"> Not valid</span>
        			</label>
                    <input class="birthdate" ng-model='vm.profile.birth.year' id="birthyear" name="birthyear" ng-class="{ 'error': profile_form.birthyear.$dirty && profile_form.birthyear.$error.required }" type="number" min="1900" max="2000" required>
                </div>
            </div>
	    </div>

        <!-- Gender -->
	    <div class="icon">
            <label class="cd-label float">
    			Gender
    		</label>
			<ul class="cd-form-list">
				<li ng-repeat="gender in vm.profile.form_extra.select_gender">
					<input type="radio" ng-model="vm.profile.data.gender" ng-value="gender.value" name="gender" id="{{gender.value}}">
                    <label for="{{gender.value}}">
                        <span class="fa-stack">
                            <i class="fa {{ gender.icon }} fa-stack-1x"></i>
                        </span>
                        {{ gender.description }}
                    </label>
				</li>
			</ul>
		</div>

		<div>
	      	<input type="submit" value="Save">
	    </div>
	</fieldset>

<!-- For Testing Only -->
<!-- <pre>{{ vm.profile.form_extra.select_category }}</pre> -->
<!-- For Testing Only -->

	<fieldset>
		<legend>Location</legend>
		<div>
            <label class="cd-label float">
    			Country
    		</label>
			<p class="cd-select icon">
                <select class='world'
                    ng-model="vm.profile.data.citizenship"
                    ng-options="ctry.country_id as ctry.country_name for ctry in vm.profile.form_extra.select_country">
                </select>
			</p>
		</div> 
<!--
		<div class="icon">
			<label class="cd-label" for="cd-textarea">Project description</label>
  			<textarea class="message" name="cd-textarea" id="cd-textarea" required></textarea>
		</div>
-->
		<div>
	      	<input type="submit" value="Save">
	    </div>
	</fieldset>
</form>

<script>

</script> <!-- Resource jQuery -->