<div class="well well-lg">
    <h2><img alt="" src="content/images/ava1_60px.png">{{vm.data.firstName}} <small>It's really Good to keep up to date</small></h2>
</div>

<hr class="colorgraph">
                   
    <form name="form" ng-submit="vm.update()" class="form-horizontal" role="form">

        <div class="well well-lg">
<!--pre class="bs-example-scope">$scope.data = {{data | json}};</pre>
<div class="bs-example" style="padding-bottom: 24px;" append-source></div-->
            <div class="form-group">
                <label for="fname" class="col-xs-12 col-sm-2 col-md-2 control-label fa fa-user"> My name</label>
                <div class="col-xs-12 col-sm-5 col-md-5">
                  <input ng-model='vm.data.fname' id="fname" class="form-control input-lg" type="text" placeholder="First name" name="fname">
                </div>
                <div class="col-xs-12 col-sm-5 col-md-5">
                  <input ng-model='vm.data.lname' id="lname" class="form-control input-lg" type="text" placeholder="Last name" name="lname">
                </div>
            </div>
            
            <div class="form-group">
                <label for="name" class="col-xs-12 col-sm-2 col-md-2 control-label fa fa-envelope-o"> Email</label>
                <div class="col-xs-12 col-sm-10 col-md-10">
                    <input ng-model='vm.data.primary_email' id="email" class="form-control input-lg" type="text" placeholder="Email" name="email" >
                </div>
            </div>

            <div class="form-group">
                <label for="name" class="col-xs-12 col-sm-2 col-md-2 control-label fa fa-user"> User Id / Password</label>
                <div class="col-xs-12 col-sm-5 col-md-5">
                    <input ng-model='vm.data.login_userid' id="userId" class="form-control input-lg" type="text" placeholder="User id" name="login_userid" required>
                    <span ng-show="form.userId.$dirty && form.userId.$error.required" class="help-block">You could try something different and come up with your own User Id </span>
                </div>

                <div class="col-xs-12 col-sm-5 col-md-5">
                    <input ng-model='vm.data.pwd' id="pwd" class="form-control input-lg" type="password" placeholder="Password" name="pwd" required>
                    <span ng-show="form.pwd.$dirty && form.pwd.$error.required" class="help-block">Just be creative and make your own password </span>
                    <!--div ng-password-strength="vm.data.password" strength="passStrength" inner-class="progress-bar" inner-class-prefix="progress-bar-striped active progress-bar-"  outter-class-prefix=" " class="ng-isolate-scope">
                    </div-->
                </div>                
            </div>

            <div class="form-group">
                <label for="name" class="col-xs-12 col-sm-2 col-md-2 control-label fa fa-birthday-cake"> Birthdate</label>
                <!--label for="name" class="col-xs-12 col-sm-1 col-md-1 control-label">{{vm.age(vm.data.birthdate)}}</label-->
                <div class="col-xs-12 col-sm-5 col-md-5">
                    <input ng-model='vm.data.birthdate' id="birthdate" class="form-control input-lg" type="text" placeholder="My birthdate" name="birthdate"> 
                </div>
                <div class="col-xs-12 col-sm-5 col-md-5">
                    <label for="name" class="control-label fa fa-venus-mars"> Gender</label>
                    <!--div class="btn-group">
                        <label class="btn btn-info" ng-model="vm.data.gender" btn-radio="'M'"><i class="fa fa-male"></i>  Male</label>
                        <label class="btn btn-info" ng-model="vm.data.gender" btn-radio="'F'"><i class="fa fa-female"></i>  Female</label>
                    </div-->
                    <div class="btn-group" role="group" aria-label="...">
                        <label class="btn btn-default" ng-class="{M:'btn btn-info', F:'btn btn-default'}[vm.data.gender]">
                            <input ng-model="vm.data.gender" type="radio" class="btn btn-default" value="M" name="genderRadio" id="genderRadio" >
                            <i class="fa fa-male"></i>  Male
                        </label>
                        <label class="btn btn-default" ng-class="{F:'btn btn-info', M:'btn btn-default'}[vm.data.gender]">
                            <input ng-model="vm.data.gender" type="radio" class="btn btn-default" value="F" name="genderRadio" id="genderRadio" >
                            <i class="fa fa-female"></i>  Female
                        </label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="name" class="col-xs-12 col-sm-2 col-md-2 control-label fa fa-language"> Preferred language</label>
                <div class="col-xs-12 col-sm-10 col-md-10">
                    <select ng-model='vm.data.language' name="language" class="form-control input-lg">
                      <option value="" disabled selected>Select your language</option>
                      <option value="en">English</option>
                      <option value="fr">French</option>
                    </select>
                </div>
                
            </div>

            <div class="form-group">
                <label for="interests" class="col-xs-12 col-sm-2 col-md-2 control-label fa fa-user"> My interests</label>
                <div class="col-xs-12 col-sm-10 col-md-10">
                    <span class="help-block">Interests ( Select 1 or more ) </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12 col-sm-2 col-md-2">
                </div>
                <div class="col-xs-12 col-sm-10 col-md-10">
                    <label class="col-xs-5 col-sm-3 col-md-3 col-lg-2 chk-button" ng-repeat="cat in vm.data.categories"  ng-class="{true:'btn btn-success', false:'btn btn-default'}[cat.checked]">
                        <i class="glyphicon glyphicon-chk" ng-class="{true:'glyphicon-check', false:'glyphicon-unchecked'}[cat.checked]"></i>
                        <input type="checkbox" class="hidden" ng-model="cat.checked"> {{cat.label}}
                        <i ng-class="cat.font"></i>
                    </label>
                </div>
            </div>
    <!--pre><code>{{ vm.data.interests | json }}</code></pre-->
    </div>
    <!-- end well -->

        <hr class="colorgraph">
        
        <div class="row">
        	<div class="col-xs-12 col-md-12">
                <button type="submit"  ng-disabled="form.$invalid" class="btn btn-primary btn-lg btn-block" busy>
                    Update  <span class="glyphicon glyphicon-ok"></span>
                    <busy-message>Sending data <i class="fa fa-refresh fa-spin"></i></busy-message>
                </button>
            </div>
        </div>

    </form>


<!-- BUTTON WITH CHECKBOX USING GLYPHICON span class="button-checkbox">
<button type="button" class="btn" data-color="info" tabindex="7">I Agree</button>
<input type="checkbox" name="t_and_c" id="t_and_c" class="hidden" value="1">
</span-->

<!--script >
    $(function () {
    $('.button-checkbox').each(function () {

        // Settings
        var $widget = $(this),
            $button = $widget.find('button'),
            $checkbox = $widget.find('input:checkbox'),
            color = $button.data('color'),
            settings = {
                on: {
                    icon: 'glyphicon glyphicon-check'
                },
                off: {
                    icon: 'glyphicon glyphicon-unchecked'
                }
            };

        // Event Handlers
        $button.on('click', function () {
            $checkbox.prop('checked', !$checkbox.is(':checked'));
            $checkbox.triggerHandler('change');
            updateDisplay();
        });
        $checkbox.on('change', function () {
            updateDisplay();
        });

        // Actions
        function updateDisplay() {
            var isChecked = $checkbox.is(':checked');

            // Set the button's state
            $button.data('state', (isChecked) ? "on" : "off");

            // Set the button's icon
            $button.find('.state-icon')
                .removeClass()
                .addClass('state-icon ' + settings[$button.data('state')].icon);

            // Update the button's color
            if (isChecked) {
                $button
                    .removeClass('btn-default')
                    .addClass('btn-' + color + ' active');
            }
            else {
                $button
                    .removeClass('btn-' + color + ' active')
                    .addClass('btn-default');
            }
        }

        // Initialization
        function init() {

            updateDisplay();

            // Inject the icon if applicable
            if ($button.find('.state-icon').length == 0) {
                $button.prepend('<i class="state-icon ' + settings[$button.data('state')].icon + '"></i>');
            }
        }
        init();
    });
});
    
</script-->