@charset "UTF-8";
/* CSS Document */
* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
      font-family: "Brandon", Arial, sans-serif;
}

footer,
header,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
[hidden],
audio:not([controls]) {
  display: none;
}
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4;
}
body,
button,
input,
select,
textarea {

}
::-moz-selection {
  background: 0 0;
  color: #fff;
  text-shadow: none;
}

h1 {font-size:1.8em;font-weight: 500;}
h2 {font-size:1.6em;font-weight: 400;}
h3 {font-size:1.4em;font-weight: 300;}
h4 {font-size:1.2em;font-weight: 200;}
h5 {font-size:1.1em;font-weight: 100;}

a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: 700;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:after,
q:before {
  content: "";
  content: none;
}
small {
  font-size: 85%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ol,
ul {
  margin: 0 0 1em;
  padding: 0 0 0 40px;
}
dd {
  margin: 0 0 0 40px;
}
nav ol,
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
figure,
form {
  margin: 0;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
label {
  cursor: pointer;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}
button,
input {
  line-height: normal;
}
button,
input[type=button],
input[type=reset],
input[type=submit] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button:focus,
input:focus
 { outline:0 !important; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
input:invalid,
textarea:invalid {
  background-color: #f0dddd;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}
.ir br {
  display: none;
}
.hidden {
  display: none !important;
  visibility: hidden;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
.invisible {
  visibility: hidden;
}
.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
body {
  padding-top: 56px;
}
body > iframe {
  position: fixed;
}
main {
  font-family: 'Roboto Slab', Arial;
  font-weight: 300;
}
::selection {
  background: #ACCEF7;
  color: #222;
}
::-moz-selection {
  background: #ACCEF7;
  color: #222;
}
.block {
  width: 100%;
  position: relative;
  min-width: 780px;
}
.block .inner {
  box-sizing: border-box;
  max-width: 940px;
  min-width: 780px;
  padding: 0 30px;
  margin: 0 auto;
  position: relative;
}
.relative {
  position: relative;
}
.text-right {
  text-align: right;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.content {
  padding: 20px;
}
.title {
  font-weight: bold;
  font-family: Lato, Arial;
  font-size: 40px;
  margin: 50px auto 10px;
  text-align: center;
}
.subtitle {
  font-size: 20px;
  margin-top: 13px;
  font-weight: 300;
  font-family: 'Roboto Slab', Arial;
  text-align: center;
}
.describe {
  font-size: 18px;
  margin: 65px auto 105px auto;
  width: 660px;
  font-weight: 300;
  font-family: 'Roboto Slab', Arial;
  text-align: left;
}
.no-padding {
  padding: 0 !important;
}