<form name="form"  ng-submit="vm.signup( )" class="form-horizontal" role="form">
    <h2>{{ 'signup.title' | translate }}</h2>

    <hr class="colorgraph">

    <!-- Fields -->
    <!-- FIRST NAME -->
	<div class="form-group">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <input ng-model='vm.user.data.fname' id="fname" name="fname" class="form-control input-lg" type="text" placeholder="{{ 'signup.placeholder.fname' | translate }}" required>
    		<span ng-show="form.fname.$dirty && form.fname.$error.required" class="help-block">{{ 'signup.helper.fname' | translate }}</span>
        </div>
    </div>

    <!-- LAST NAME -->
	<div class="form-group">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <input ng-model='vm.user.data.lname' id="lname" name="lname" class="form-control input-lg" type="text" placeholder="{{ 'signup.placeholder.lname' | translate }}" required>
    		<span ng-show="form.lname.$dirty && form.lname.$error.required" class="help-block">{{ 'signup.helper.lname' | translate }}</span>
        </div>
	</div>

    <!-- EMAIL -->
    <div class="form-group">
        <div class="col-xs-12 col-sm-12 col-md-12">
			<input ng-model="vm.user.data.primary_email" type="email" name="email" id="email" class="form-control input-lg" placeholder="{{ 'signup.placeholder.primary_email' | translate }}" required>
    		<span ng-show="form.email.$dirty && form.email.$error.required" class="help-block">{{ 'signup.helper.primary_email' | translate }}</span>
        </div>
	</div>

    <!-- PASSWORD -->
	<div class="form-group">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <input type="{{ vm.showPassword ? 'text' : 'password' }}" ng-model='vm.user.extra.password' id="password" name="password" class="form-control input-lg" type="text" placeholder="{{ 'signup.placeholder.password' | translate }}" required>
            <div ng-password-strength="vm.user.extra.password" strength="vm.passStrength" inner-class="progress-bar" inner-class-prefix="progress-bar-"></div>
    	
    	        <!-- PASSWORD STRENGTH -->
                <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">{{ 'signup.helper.password' | translate }}</span>
            <!-- <span ng-show="form.password.$dirty" class="help-block">{{ passStrength }}</span> -->
        </div>
        <!-- SHOW PASSWORD CHECKBOX -->
        <div class="col-xs-12 col-sm-12 col-md-12">
            <label class="chk-button" ng-class="{true:'btn btn-success', false:'btn btn-default'}[vm.showPassword]">
                <i class="glyphicon glyphicon-chk" ng-class="{true:'glyphicon-check', false:'glyphicon-unchecked'}[vm.showPassword]"></i>
                <input type="checkbox" class="hidden" ng-model="vm.showPassword"> {{ 'common.text.showpassword' | translate }}
                <i class="fa fa-eye"></i>
            </label>
        </div>
	</div>
    <!-- End Fields -->

    <!-- TERMS AND CONDITIONS WARNING -->
	<div class="form-group">
		<div class="col-xs-12 col-sm-12 col-md-12">
			{{ 'signup.text.byclicking' | translate }} <strong class="label label-primary">{{ 'signup.button.submit' | translate }}</strong>, {{ 'signup.text.youagreetothe' | translate }} <a href="" data-toggle="modal" data-target="#t_and_c_m">{{ 'signup.text.termsandconditions' | translate }}</a>
			{{ 'signup.text.setoutbythissite' | translate }}
		</div>
	</div>

    <!-- SUBMIT BUTTON -->
	<div class="form-group">
		<div class="col-xs-12 col-sm-12 col-md-12">
            <button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary btn-lg btn-block" busy>
                {{ 'signup.button.submit' | translate }}  <i class="fa fa-user-plus"></i>
                <busy-message>{{ 'common.button.sending_request' | translate }} <i class="fa fa-refresh fa-spin"></i></busy-message>
            </button>
		</div>
    </div>

    <hr class="colorgraph">

    <!-- SIGN IN OPTION -->
	<div class="form-group">
		<div class="col-xs-12 col-sm-12 col-md-12">
			{{ 'signup.text.alreadyamember' | translate }} <h4><a ng-href="#"><strong class="label label-primary">{{ 'signin.title' | translate }}</strong></a></h4>
		</div>
	</div>
</form>


<!-- Modal TODO WITH UI BOOTSTRAP-->
<div class="modal fade" id="t_and_c_m" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title" id="myModalLabel">{{ 'signup.text.termsandconditions' | translate }}</h4>
			</div>
			<div class="modal-body">
				<p>We are working on it</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">I Agree</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
