@font-face {
  font-family: 'levibrushregular';
  src: url("../fonts/levibrush-webfont.eot");
  src: url("../fonts/levibrush-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/levibrush-webfont.woff") format("woff"), url("../fonts/levibrush-webfont.ttf") format("truetype"), url("../fonts/levibrush-webfont.svg#levibrushregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);

/*Layout*/
.main_nav_bar {
    width: 100%;
}

.container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.container {
  margin: 0;
  padding: 0;
  width: 100%;
}

.topnav, .content, footer {
  width: 100%;
}

/*Reward*/
.logo{
  float:left;
  width: 20%;
}

.topnav nav {
  float:left;
  width: 65%;
}

.topnav .account {
  float:left;
  width: 10%;
}

.topnav .user{
  width: 100%;
}

.point {
  float:left;
  width: 65%;
}

/*
.point-number {
  float:left;
  width:23%;
}
*/

.point-bar {
  float:left;
  width:77%;
}

.reward {
  float:left;
  width: 35%;
}

.prize img{
  width:150px;
}

.prize {
  position:absolute;
  top:-30px;
  right:0;
  width:180px;
}
.sign-wrap{
    
  width: 95%;
}
.account-setting-wrap{
  width: 95%;
}
@media (min-width: 480px) {
    .content {
/*       min-height:500px; */
    }
/*
    .user{
        float:left;
        width: 35%;
    }

    .point {
        float:left;
        width: 50%;
    }
    .reward {
        float:left;
        width: 15%;
    }
*/
    .sign-wrap{
       width: 75%;
    }
    .account-setting-wrap{
        width: 75%;
    }

}
@media (min-width: 600px) {
    .content {
/*       min-height:500px; */
    }
/*
    .user{
        float:left;
        width: 35%;
    }

    .point {
        float:left;
        width: 50%;
    }
    .reward {
        float:left;
        width: 15%;
    }
*/
    .sign-wrap{
       width: 55%;
    }
    .account-setting-wrap{
       width: 65%;
    }

}

@media (min-width: 900px) {
/*
    .user{
        float:left;
        width: 18%;
    }

    .point {
        float:left;
        width: 62%;
    }
    .reward {
        float:left;
        width: 15%;
    }
*/
   .prize img{
      width:180px;
   }
   .sign-wrap{
     width: 45%;
   }
    .account-setting-wrap{
      width: 70%;
    }
}

@media (min-width: 1366px) {
  .container {
/*     width: 1366px; */
    margin-left: auto;
    margin-right: auto;
  }

  .account-panel {
    height:140px;
  }

  .account-panel .user-name {
  font-size:1.2em;
  }

  .account-panel .image-cropper {
    width: 100px;
    height: 100px;
    width:100px;
  }

  .point-number {
    float:left;
    width:20%;
  }

  .point-bar {
    float:left;
    width:80%;
  }

  .prize img{
  width:200px;
  }
  .sign-wrap{
    width: 35%;
   }
  .account-setting-wrap{
    width: 60%;
  }
}


/*Layout Styles*/

h1 {
  text-align:center;
margin-bottom:10px;
}

.topnav {
  padding:5px 10px;
  color: #E8E8E8;
  background-color: #34A6C1;
}

.content {
  color: #ddd;
/*   background-color: #655643; */
  position:relative;
  height:auto;
  min-height: 95%;
}

footer {
    padding:10px;
    color: #E8E8E8;
/*   background-color: #34A6C1; */
    position: fixed;
    bottom: 0;
}

/*activation*/
.activation-form{
  background:#B5C258;
  padding: 3%;
  margin: 5% 0;
  position: relative;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  overflow:hidden;
  height:350px;
  margin-top:10%;
  text-align:center;
}
.activation-form h2 {
  font-size: 1.3em;
  line-height:1.8em;
  margin-bottom:3%;
  color:#fef0e3;
  font-weight:500;
  text-align:center;
}
.activation-form button[type="submit"] {
  display:inline-block;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    background: #C8525E;
    width: 40%;
    padding: 10px;
    font-size: 1.1em;
    letter-spacing:1px;
    margin-top: 2% auto 0;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
} 
.sign_form button[type="submit"]:hover {
  background:#34A6C1;
} 
.agree {
  margin: 3% 0 1%;
  font-size: 0.8em;
  color: #333;
}
.agree a{
  color: #333;
  text-decoration:underline;
}
.agree a:hover{
  color: #333;
  text-decoration:none;
}
.captcha-form {
  display:block;
  background:#fff;
  border-radius:5px;
}

/*Account Setting forms*/
.account-setting-wrap{
  margin: 0 auto;
  margin-top:2%;
  color:#fef0e3;
}
.account-setting-wrap h2 {
  border-bottom:1px solid #fef0e3;
  padding-bottom:3px;
  margin-bottom:5px;
  text-transform:uppercase;
  font-size:1.4em;
}
.account-setting-form{
  display:block;
  background:#B5C258;
  padding: 2% 4%;
  margin: 5% 0;
  position: relative;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  overflow:hidden;
  clear:both;
}
.account-setting-form ul {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
.account-setting-form ul li {
    list-style: none;
    padding: 1% 0;
    margin:0;
}
.account-setting-form li {
    display: list-item;
    text-align: -webkit-match-parent;
    overflow: hidden;
   /* border-top:1px solid #ccc;*/
}
.account-setting-form h3 {
    display:inline-block;
    width: 20%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 1em;
    font-weight: bold;
    padding: 4px 10px 0 0;
    text-transform:uppercase;
}
.account-setting-form .field-wrapper {
    display:inline-block;
    width:79%;
}
.account-setting-form label {
    word-wrap: break-word;
}
.account-setting-form input[type="email"], .account-setting-form input[type="number"], .account-setting-form input[type="password"], .account-setting-form input[type="text"], .account-setting-form input[type="url"], .account-setting-form textarea {
    background-color: #f3f3f3;
    background: -webkit-gradient(linear, left top, left bottom, from(#f0f0f0), to(#f5f5f5));
    background: -webkit-linear-gradient(#f0f0f0, #f5f5f5);
    background: linear-gradient(#f0f0f0, #f5f5f5);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #d6d3ce;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.12) inset;
    box-shadow: 0 0 3px rgba(0,0,0,0.12) inset;
    color: #666;
    font-size: 1em;
    padding: 7px;
}
.account-setting-form select {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    background-color: #f5f5f5;
    border-radius: 3px;
    border: 1px solid #d6d3ce;
    color: #666;
    cursor: pointer;
    font-weight: bold;
    height: 32px;
    padding: 7px 7px 7px 14px;
}
.formInlineCheckedSet {
  width:100%;
  overflow: hidden
}
.formInlineCheckedSet ul li {
  display:inline-block;
  margin-right:3%;
}
.formInlineCheckedSet label {
  padding-right:10%;
}
.formInlineCheckedSet input[type="radio"], 
.formInlineCheckedSet input.radio {

}
.account-setting-form button {
    background-color: #999;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#999));
    background: -webkit-linear-gradient(#fff, #999);
    border: 1px solid #999;
    color: #5f5f5f;
    cursor: pointer;
    font-weight: bold;
    text-shadow: 0 1px #ccc;
    white-space: nowrap;
    padding: 7px 13px;
    font-size:0.9em;
}
.account-setting-form input.first-name,
.account-setting-form .city {
    width:49%;
    float:left;
    margin-right:2%;
}
.account-setting-form input.last-name,
.account-setting-form .country {
    width:49%;
    float:right;
}
.account-setting-form .month {
    width:15%;
    float:left;
    margin-right:2%;
}
.account-setting-form .day {
    width:15%;
    float:left;
    margin-right:2%;
}
.account-setting-form .year {
    width:25%;
    float:left;
}
ul.interest-list li {
  float:left;
  width:18%;
  height:70px;
  margin:0 2% 2% 0;
  padding:2%;
  text-align:center;
  vertical-align: middle;
  font-size:0.9em;
  font-weight:300;
}
ul.interest-list li:last-child {
  margin-right:0;
}
.interest-off {
  color:#fff;
  background: #9f9e9f;
}
.interest-on {
  color:#fff;
  background: #C8525E;
}
/*
.footer-buttons {
  text-align:right;
}
*/


/*Alex - Fill whole window space*/
html, body {
    margin: 0;
    height: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.61);
    background-image:url(http://primg.checkpointchallenge.com:81/utils/wall.png);
    background-repeat:repeat;
/*     font-family: 'Frijole', cursive; */
    font-size: 14px;
    color:#fff;
}

@media print {
    html, body {
        background-color: #FFF;
        background-image: url() !important;
    }
}

.fill { 
    min-height: 100%;
    height: 100%;
}
/*
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #FDFCFD;
    font-family: 'Source Sans Pro', sans-serif;
    -webkit-box-shadow:#FDFCFD inset;
    box-shadow:#FDFCFD inset;
}
*/
body {
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
}
body ::-webkit-input-placeholder {
  /* WebKit browsers */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
}
body ::-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  opacity: 1;
  font-weight: 300;
}
body ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  opacity: 1;
  font-weight: 300;
}
body ::-ms-input-placeholder {
  /* Internet Explorer 10+ */
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: 300;
}

/* ANIMATIONS
============================================================================= */

/* leaving animations ----------------------------------------- */
/* rotate and fall */
@keyframes rotateFall {
    0%      { transform: rotateZ(0deg); }
    20%     { transform: rotateZ(10deg); animation-timing-function: ease-out; }
    40%     { transform: rotateZ(17deg); }
    60%     { transform: rotateZ(16deg); }
    100%    { transform: translateY(100%) rotateZ(17deg); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}

/* rotate out newspaper */
@keyframes rotateOutNewspaper {
    to      { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
    from    { opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
    from    { transform:translateY(100%); }
    to      { transform: translateY(0); }
}

/*
.ng-enter           { animation: slideInRight 0.5s both ease-in; z-index: 8888; }
.ng-leave           { animation: slideOutLeft 0.5s both ease-in; z-index: 9999; }
*/

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}