/*Layout*/

.container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.container {
  margin: 0;
  padding: 0;
  width: 100%;
}

.topnav, .content, footer, .account-panel, .reward-panel {
  width: 100%;
}

/*Reward*/
.logo{
  float:left;
  width: 20%;
}

.topnav nav {
  float:left;
  width: 65%;
}

.topnav .account {
  float:left;
  width: 10%;
}

.topnav .user{
  width: 100%;
}

.point {
  float:left;
  width: 65%;
}

.point-number {
  float:left;
  width:23%;
}

.point-bar {
  float:left;
  width:77%;
}

.reward {
  float:left;
  width: 35%;
}

.account-panel {
    height:120px;
}

.account-panel .user-name {
  font-size:1em;
}

.account-panel .image-cropper {
    width: 80px;
    height: 80px;
    width:80px;
}

.prize img{
  width:150px;
}

.prize {
  position:absolute;
  top:-30px;
  right:0;
  width:180px;
}
.sign-wrap{
  width: 95%;
}
@media (min-width: 480px) {
    .content {
      height:500px;
    }
    .user{
        float:left;
        width: 35%;
    }

    .point {
        float:left;
        width: 50%;
    }

    .reward {
        float:left;
        width: 15%;
    }
    .sign-wrap{
       width: 75%;
    }

}
@media (min-width: 600px) {
    .content {
      height:500px;
    }
    .user{
        float:left;
        width: 35%;
    }

    .point {
        float:left;
        width: 50%;
    }

    .reward {
        float:left;
        width: 15%;
    }
    .sign-wrap{
       width: 55%;
    }

}

@media (min-width: 900px) {
   .content {
      height:500px;
    }
    .user{
        float:left;
        width: 18%;
    }

    .point {
        float:left;
        width: 62%;
    }

    .reward {
        float:left;
        width: 15%;
    }

    .point-number {
      float:left;
      width:25%;
    }

   .point-bar {
      float:left;
      width:75%;
   }
   .prize img{
    width:180px;
   }
   .sign-wrap{
    width: 45%;
   }
}

@media (min-width: 1366px) {
  .container {
    width: 1366px;
    margin-left: auto;
    margin-right: auto;
  }

  .account-panel {
    height:140px;
  }

  .account-panel .user-name {
  font-size:1.2em;
  }

  .account-panel .image-cropper {
    width: 100px;
    height: 100px;
    width:100px;
  }

  .point-number {
    float:left;
    width:20%;
  }

  .point-bar {
    float:left;
    width:80%;
  }

  .prize img{
  width:200px;
  }
  .sign-wrap{
    width: 35%;
   }
}


/*Layout Styles*/

h1 {
  text-align:center;
margin-bottom:10px;
}

.topnav {
  padding:5px 10px;
  color: #E8E8E8;
  background-color: #34A6C1;
}

.content {
  color: #ddd;
  background-color: #655643;
  position:relative;
}

footer {
  padding:10px;
  color: #E8E8E8;
  background-color: #34A6C1;
}

  /*Reward*/
.account-panel {
  padding:20px;
  color: #fff;
  background-color: #655643;
}

.reward-panel {
  padding:20px;
  color: #fff;
  background-color: #B5C258;
}

.topnav .logo {
  padding-left:5px;
}

.topnav .account {
text-align:right;
}

.topnav .fa-user {
  color:#7F7F7F;
}

.account-panel .user {
  font-size:1em;
  font-weight:100;
  border-right:2px solid #7F7F7F;
}

.account-panel .user-info {
  float:left;
  margin-left:20px;
  line-height:2em;
}

.account-panel .user-name {
  font-weight:400;
}
.account-panel .image-cropper {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    float:left;
}

.account-panel .image-cropper img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

.account-panel .point {
  margin-left:20px;
  border-right:2px solid #7F7F7F;
}

.account-panel .point progress {
  background-color: #ffffff;
  border: 0;
  width: 95%;
  height: 20px;
  border-radius: 2px;
}
.account-panel .point progress::-webkit-progress-bar {
  background: #ffffff;
  border-radius: 2px;
}
.account-panel .point progress::-webkit-progress-value {
  background: #34A6C1;
   border-radius: 1px;
}
.account-panel .point progress::-moz-progress-bar {
  background: #34A6C1;
   border-radius: 1px;
}
.account-panel .point .progress-value {
  line-height: 20px;
  font-size: .8em;
  color: #93C8CC;
  float: left;
}


.point-bar {
  position:relative;
}

.point-number {
  color:#93C8CC;
}

.point-text {
  font-size:3em;
  font-weight:300;
  color:#fff;
  margin-right:5px;
}


.point-left {
position:absolute;
right:200px;
top:25px;
color:#FF8C89;
}


.account-panel .reward {
  margin-left:20px;
  text-align:center;
}

.reward-number {
  color:#B5C258;
}

.reward-text {
  font-size:3em;
  font-weight:300;
  color:#fff;
  margin-right:5px;
}

.reward-item {
  float:left;
  width:18%;
  height:230px;
  display:block;
  background:#fff;
  padding:15px;
  margin: 1% 1%;
}

.reward-item h4 {
  height:17%;
  color:#A7AF41;
  font-weight: 500;
  text-align:center;
  margin-bottom:4px;
}

.reward-img {
  width:100%;
  height:50%;
}

.reward-item .reward-img img{
  display: block;
  margin-left:auto;
  margin-right:auto;
  max-width:100%;
  max-height:100%;
  }

.reward-item .reward-detail {
  width:100%;
  text-align:center;
  margin-top:3px;
}

.reward-item .btn-reward-detail{
  color: #333;
  font-size:1em;
  font-weight:300;
  text-decoration:underline;
}

.reward-item .btn-redeem {
  display: block;
  background-color:#C8525E;
  -moz-border-radius:4px;
  -webkit-border-radius:8px;
  border-radius:4px;
  border:1px solid #cccccc;
  cursor:pointer;
  color:#ffffff;
  padding:6px;
  margin-top:3px;
  text-decoration:none;
  text-align:center;
}
.reward-item .btn-redeem:hover {
  background-color:#eb675e;
  text-decoration:none;
  color:#ffffff;
}
.reward-item .btn-redeem:active {
  position:relative;
  top:1px;
  text-decoration:none;
}

/*Navigation menu*/

nav ul {
  padding: 0;
  margin: 15px 0 0 0;
  list-style: none;
  position: relative;
  font-weight:300;
  }
  
nav ul li {
  display:inline-block;
  }

nav a {
  display:block;
  margin-right:15px;
  padding:5px 10px; 
  border-radius:5px;
  color:#FFF;
  font-size:0.9em;
  text-decoration:none;
  text-transform:uppercase;
}

nav a:hover { 
  position:relative;
  bottom:1px;
  color:#FFF;
  background-color: #248EA0; 
  text-decoration:none;
}

nav a:active { 
  color:#FFF;
  background-color: #248EA0; 
  text-decoration:none;
}

nav .btn-play a {
  position:relative;
  top:-5px;
  padding: 10px 25px;
background-color: #C8525E; 
}

nav .btn-play a:hover { 
  background-color: #D36374;
  text-decoration:none;
}

/* Hide Dropdowns by Default */
nav ul ul {
  display: none;
  position: absolute; 
  top: 5px; /* the height of the main nav */
}
  
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
  display:inherit;
}
  
/* Fisrt Tier Dropdown */
nav ul ul li {
  width:170px;
  float:none;
  display:list-item;
  position: relative;
}

/* Second, Third and more Tiers */
nav ul ul ul li {
  position: relative;
  top:-60px; 
  left:170px;
}

  
/* Change this in order to change the Dropdown symbol */
li > a:after { content:  ' +'; }
li > a:only-child:after { content: ''; }





/*Sign up*/
.sign-wrap{
  margin: 0 auto;
  margin-top:5%;
  color:#fef0e3;
}
.sign-form{
  background:#B5C258;
  padding: 3%;
  margin: 5% 0;
  position: relative;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  overflow:hidden;
}
.sign_form {
  width: 100%;
  float: left;
  position: relative;
}
.or {
  width:30px;
  height:30px;
  display:block;
  margin-left:auto;
  margin-right:auto;
  border-radius: 50%;
  background:#999;
  font-size:0.8em;
  padding:6px;
}

/*start-sign-form*/
.sign-form h1{
  font-size: 1.3em;
  text-align:left;
  margin-bottom:0;
  color:#fef0e3;
  text-align:center;
  text-transform:uppercase;
}
.sign-form h1 a{
  color:#34A6C1;
}
.sign-form h1 a:hover{
  text-decoration:none;
}
.sign-form h1 span{
  color:#666;
  font-size:0.8em;
  text-transform:lowercase;
}
.sign_form ul {
  list-style-type:none;
  list-style-position:outside;
  margin:0px;
  padding:0px;
}
.sign_form li{
  position:relative;
} 
  /* form element visual styles */
  .sign_form li{ 
    float: left;
    outline: none;
    border: 1px solid #DDDDDD;
    font-size: 1.2em;
    color: #B6B6B6;
    width: 100%;
    font-weight: 600;
    margin-top: 3%;
    position: relative;
    height: 35px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    background:#fef0e3;
  }
  .sign_form li:hover{ 
    border: 1px solid #79B42B;
    color:#79B42B;
  }
  .sign_form input {
    float: left;
    font-size: 0.9em;
    padding: 7px 14px;
    width: 75%;
    border: none;
    outline: none;
    color:#B6B6B6;
    background:#fef0e3;
  }
  .sign_form p {
    float: right;
    padding: 8px 7px;
    width: 9.3%;
    cursor: pointer;
  }
  .sign_form button[type="submit"] {
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    background: #C8525E;
    width: 100%;
    padding: 10px;
    font-size: 1.1em;
    letter-spacing:1px;
    margin: 3% 0 2%;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
  } 
.sign_form button[type="submit"]:hover {
  background:#34A6C1;
} 
.sign_form button[type="checkbox"] {
  width: 21px;
  vertical-align: middle;
  padding: 5px;
  float:left;
}
.forgot {
  float:right;
  width:50%;
  text-align:right;
}
.forgot a{
  color:#333;
  font-size: 0.8em;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
}
.forgot a:hover{ 
  text-decoration:none;
}
/* === Form hints === */
.form_hint {
  color: #fff;
  text-align: center;
  background:#333;
  border-radius: 3px 3px 3px 3px;
  font-size:0.7em;
  margin-left: 8px;
  padding: 6px;
  z-index: 999;
  position: absolute;
  left:50%;
  font-weight:100;
  display: none;
}
.form_hint::before {
  content: '';
  position: absolute;
  bottom: 5px;
  left: -9px;
  width: 0;
  height: 0;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #333;
  border-top: 10px solid transparent;
}
.sign_form input:focus + .form_hint {display: inline;}
.sign_form input:required:valid + .form_hint {color: #fff;
  background: #999;}
.sign_form input:required:valid + .form_hint::before {color:#28921f;}
/* Change the white to any color ;) */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #fef0e3 inset;
    -webkit-text-fill-color: #999 !important;
}
/*end-sign-form*/

/*start-checkbox*/
.rememeber {
  float:left;
  width:50%;
}
.checkbox {
  margin-bottom: 4px;
  padding-left: 20px;
  font-size: 0.8em;
  line-height: 27px;
  color: #333;
  cursor: pointer;
}
 .checkbox:last-child {
  margin-bottom: 0;
}
.checkbox input {
  position: absolute;
  left: -9999px;
}

.checkbox i {
  position: absolute;
  bottom: 11px;
  left: 0;
  display: block;
  width: 13px;
  height: 13px;
  outline: none;
  border: 2px solid #fff;
  background: #fff;
}
.checkbox input + i:after {
  position: absolute;
  opacity: 0;
  transition: opacity 0.1s;
  -o-transition: opacity 0.1s;
  -ms-transition: opacity 0.1s;
  -moz-transition: opacity 0.1s;
  -webkit-transition: opacity 0.1s;
}
.checkbox input + i:after {
  content: '';
  top: -1px;
  left: -1px;
  width: 15px;
  height: 15px;
  font: normal 12px/16px FontAwesome;
  text-align: center;
}

.checkbox input:checked + i:after {
  opacity: 1;
}
.checkbox {
  float: left;
  margin-right: 30px;
}
.checkbox:last-child {
  margin-bottom: 4px;
}
/*end-checkbox*/

/*social but6tons on sign form*/
.social-buttons {
  text-align:center;
  margin:3% 0;
}
.social-buttons div {
    display: inline-block;
    width: 25%;
    height: 40px; 
    margin-right:1%;
    text-align:center;
    border-radius:6px;
    -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   -o-border-radius: 6px;
   position:relative;
}
.social-buttons .fa-2x {
  font-size:1.6em;
  color:#fff;
  position:absolute;
  left:50%;
  margin-left:-10px;
  top:50%;
  margin-top:-10px;
}
.social-buttons div:hover {
  background:#999;
  cursor: pointer;
}
.social-buttons .facebook {
   background:#3b5998;
}
.social-buttons .twitter {
   background:#00aced;
}
.social-buttons .gplus {
   background:#D84B37;
}

#firstname {
  width:49%;
  margin-right:2%;
  display:inline-block;
}
#lastname {
  width:49%;
  display:inline-block;
}

/*activation*/
.activation-form{
  background:#B5C258;
  padding: 3%;
  margin: 5% 0;
  position: relative;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  overflow:hidden;
  height:350px;
  margin-top:10%;
  text-align:center;
}
.activation-form h2 {
  font-size: 1.3em;
  line-height:1.8em;
  margin-bottom:3%;
  color:#fef0e3;
  font-weight:500;
  text-align:center;
}
.activation-form button[type="submit"] {
  display:inline-block;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    background: #C8525E;
    width: 40%;
    padding: 10px;
    font-size: 1.1em;
    letter-spacing:1px;
    margin-top: 2% auto 0;
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
} 
.sign_form button[type="submit"]:hover {
  background:#34A6C1;
} 


/*agree*/
.agree {
  margin: 3% 0 1%;
  font-size: 0.8em;
  color: #333;
}
.agree a{
  color: #333;
  text-decoration:underline;
}
.agree a:hover{
  color: #333;
  text-decoration:none;
}