<style>
/*This is for the fireworks, let us find a better way later*/
canvas {
    -webkit-transform: translateZ(0);
}
</style>
<div id="container-ckpt" class="container-ckpt">
    <!--Timer-->
    <div id="timer-bar">
		    <div class="count_down_bar" id="count_down_bar"></div>
            <!-- <progress max="{{vm.data.display_time}}" value="{{vm.data.actual_time}}"></progress> -->
    </div>

    <!--Scores Panel-->
    <div id="score-bar-ckpt" class="clearfix">
        <div class="home-ckpt">
            <a ng-href="#/rewards" title="My Rewards"><i class="fa fa-home fa-2x"></i></a>
        </div>
        <div id="point-ckpt" class="point-ckpt">
<!-- 		    <div class="points_bar" id="points_bar"></div> -->
            <progress id="points_bar" class="pointBar" max="{{vm.data.player_stats.max_points}}"></progress>
            <div class="icon"><img src="content/images/icon-coin.png" /></div>
            <span class="progress-value">Points: {{vm.data.player_stats.accumulated_points}}</span>
        </div>
        <div class="reward-ckpt">
            <progress id="rewards_bar" class="rewardBar" max="80"></progress>
            <div class="icon"><img src="content/images/icon-rewards.png" /></div>
            <span class="progress-value">Rewards: {{vm.data.player_stats.accumulated_rewards}}</span>
        </div>
    </div>
    <!--Background Disable-->
    <!--Bg Disable-->
    <div id="grey-out">
        
        <!-- Hiding library elements in the DOM is fun -->
        <aside id="library">
<!--             <img src="content/images/nightsky.png" id="nightsky" /> -->
            <img src="content/images/big-glow.png" id="big-glow" />
            <img src="content/images/small-glow.png" id="small-glow" />
        </aside>

        
    </div>
    <!--Trivia Box-->
    <div id="trivia-container">
        <div id="trivia-toggle">
            <button id="btn-toggle" class="btn btn-toggle chevron-down" ng-click="vm.toggleTrivia( )"></button>
        </div>
        <div id="trivia-box">
            <!--Rewards-->
            <div id="reward-box" class="trivia-reward" ng-show="vm.showReward">
                <h3>Congratulations! You just won</h3>
                <h2>{{vm.data.reward.reward_title}}</a></h2>
                <div class="reward-img">
                    <img src="{{vm.data.reward.img_uri}}" alt="{{vm.data.reward.reward_title}}">
                </div>
                <div id="reward-detail"><a id="btn-reward-detail" title="Reward details">Details</a>
                </div>
                <div id="reward-dialog">
                    <h4>{{vm.data.reward.reward_title}}</h4>
                    <p>{{vm.data.reward.reward_detail}}</p>
                </div>
                <div class="btn-continue"><a class="btn-trivia" ng-click="vm.getQuestion()">Continue</a>
                </div>
            </div>

            <!-- Feedback -->
            <div id="feedback-box" ng-show="vm.feedback == true">
                <!--Correct answer-->
                <div id="feedback-good" class="trivia-right" ng-show="vm.data.correct == 1 && vm.feedback == true">
                    <div class="animation-right-answer">
                        <div class="right-answer-text">Good Job!</div>
                    </div>
                </div>
                <!--Wrong answer-->
                <div id="feedback-bad" class="trivia-wrong" ng-show="vm.data.correct == 0 && vm.feedback == true">
                    <div class="animation-wrong-answer">
                        <div class="wrong-answer-text clearfix">Oops!</div>
                    </div>
                </div>
                <div class="btn-continue" ng-show="vm.data.reward == null"><a class="btn-trivia" ng-click="vm.getQuestion()">Continue</a>
                </div>
            </div>
            <!--Q&A-->
            <!-- ng-show="vm.feedback == false" -->
            <div id="" class="trivia-game" ng-show="vm.feedback == false && vm.showReward == false">
                <h1 id="challenge_text" ng-bind="vm.data.description"></h1>
                <a class="trivia-options" ng-class="vm.questionOptionClass(opt.value)" ng-repeat="opt in vm.data.options" value="{{opt.value}}" ng-click="vm.validateAnswer(opt.value)">
                    {{opt.option}}
                </a>
            </div>
        </div>
    </div>
    <!--iframe-->
    <div class="iframe-custom">
        <iframe id="iframe-sites" ng-src="{{vm.trustSrc(vm.data.site)}}" scrolling="yes"></iframe>
    </div>

<script type="application/javascript">
</script>

<script type="application/javascript">
    
/*
    TweenMax.to( whiteBlur, .3, {
        boxShadow: "0px 0px 24px 6px white",
        backgroundColor:"white",
        color:"#999"
    });
*/
    
    //Pop-up Dialog
    var rewardDialog = document.getElementById("reward-dialog");

    $(function() {
        var moveLeft = 15;
        var moveUp = $(rewardDialog).outerHeight();

        $('a#btn-reward-detail').hover(function(e) {
            $(rewardDialog).show()
                .css('top', e.pageY - moveUp + 10)
                .css('left', e.pageX + moveLeft)
                .appendTo('body');
        }, function() {
            $(rewardDialog).hide();
        });
    });
</script>