@charset "UTF-8";
/* CSS Document */

/* layout */
.container-ckpt
.iframe-custom,
#timer-bar {
  width:100%;
  }

#trivia-container {
    bottom:-500px;
    width: 90%;
    left: 50%;
    transform: translate(-50%, 0);
  }

#trivia-box {
  padding:15px 10px 10px;
  }
#timer-bar progress {
  height: 5px;
  }
  #score-bar-ckpt {
    top:20px;
    left: 50%;
    transform: translate(-50%, 0);
    width:90%;
 }

  .home-ckpt  {
    width:8%;
    top:-5px;
    }

  .point-ckpt  {
    width:68%;
    height:20px;
  }

  .reward-ckpt  {
    width:20%;
    height:20px;
    margin-left:5px;
  }

  .point-ckpt progress {
    width: 95%;
    height: 20px;
  }

  .reward-ckpt progress {
    width: 80%;
    height: 20px;
  }

.reward-img img{
  max-width: 100%;
  max-height: 120px;
  }

#reward-dialog {
  width: 90%;
}

.trivia-right, .trivia-wrong {
  width:90%;
  height:200px;
}

.right-answer-text {
  font: normal 90px/1 "aclonica", Helvetica, sans-serif;
}

.wrong-answer-text {
  font: normal 90px/1 "aclonica", Helvetica, sans-serif;
}

#trivia-box h1 {
  font-size: 1.2em;
  line-height:1em;
}

.btn-trivia {
  font-size:1em;
}

.point-ckpt .progress-value {
font-size: .7em;
}

.reward-ckpt .progress-value {
font-size: .7em;
}

@media (min-width: 600px) {

  #trivia-container {
    bottom:-500px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 300px;
  }

  #timer-bar progress {
    height: 3px;
  }
  #score-bar-ckpt {
    top:20px;
    left: 50%;
    transform: translate(-50%, 0);
    width:300px;
  }

  .home-ckpt  {
    width:7%;
    top:-5px;
  }
  
  #trivia-box {
    padding:10px 10px 10px;
  }

  .right-answer-text {
  font: normal 110px/1 "aclonica", Helvetica, sans-serif;
  }

  .wrong-answer-text {
    font: normal 110px/1 "aclonica", Helvetica, sans-serif;
  }

  #trivia-box h1 {
    font-size: 1.3em;
    line-height:1.1em;
  }
 
  .btn-trivia {
    font-size:1.1em;
  }

  .point-ckpt .progress-value {
    font-size: .7em;
  }

  .reward-ckpt .progress-value {
    font-size: .7em;
  }

}

@media (min-width: 800px) {

  #trivia-container {
    bottom:-500px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 370px;
  }

  #timer-bar progress {
    height: 3px;
  }

  #score-bar-ckpt {
    top:20px;
    left: 50%;
    transform: translate(-50%, 0);
    width:370px;
  }

  .home-ckpt  {
    width:8%;
    top:-5px;
  }

  .point-ckpt  {
      width:65%;
      height:20px;
    }

  .reward-ckpt  {
      width:20%;
      height:20px;
      margin-left:5px;
    }

  .point-ckpt .icon,
  .reward-ckpt .icon{
      position:relative;
      top:-8px;
      right:0;
    }

  .point-ckpt progress {
      width: 95%;
      height: 20px;
    }

  .reward-ckpt progress {
      width: 80%;
      height: 20px;
    }
  
  #trivia-box {
    padding:10px 10px 10px;
  }

  .reward-img img{
    max-width: 350px;
    max-height: 250px;
  }


 #reward-dialog {
    width: 300px;
  }

 .trivia-right, .trivia-wrong {
    width:100%;
    height:250px;
  }

  .right-answer-text {
  font: normal 100px/1 "aclonica", Helvetica, sans-serif;
  }

  .wrong-answer-text {
    font: normal 100px/1 "aclonica", Helvetica, sans-serif;
  }

  #trivia-box h1 {
    font-size: 1.3em;
    line-height:1.1em;
  }
 
  .btn-trivia {
    font-size:1.2em;
  }

  .point-ckpt .progress-value {
    font-size: .8em;
  }

  .reward-ckpt .progress-value {
    font-size: .8em;
  }


}

@media (min-width: 1366px) {

  #trivia-container {
        bottom:-500px;
        left: 50%;
        transform: translate(-50%, 0);
      width: 420px;
    }

  #timer-bar progress {
  height: 3px;
  }
    #score-bar-ckpt {
    top:20px;
    left: 50%;
    transform: translate(-50%, 0);
    width:420px;
  }

  .home-ckpt  {
  width:8%;
  top:-5px;
  }
  .point-ckpt  {
      width:68%;
      height:20px;
    }

  .reward-ckpt  {
      width:20%;
      height:20px;
      margin-left:5px;
    }

  .point-ckpt .icon,
  .reward-ckpt .icon{
      position:relative;
      top:-8px;
      right:0;
    }

  .point-ckpt progress {
      width: 95%;
      height: 20px;
    }

  .reward-ckpt progress {
      width: 80%;
      height: 20px;
    }
  #trivia-box {
    padding:10px 10px 10px;
  }


 .reward-img img{
    max-width: 450px;
    max-height: 250px;
  }

 .reward-img img{
    max-width: 380px;
    max-height: 250px;
  }

 #reward-dialog {
    width: 300px;
  }

 .trivia-right, .trivia-wrong {
    width:100%;
    height:250px;
  }
    .right-answer-text {
  font: normal 110px/1 "aclonica", Helvetica, sans-serif;
  }

  .wrong-answer-text {
    font: normal 110px/1 "aclonica", Helvetica, sans-serif;
  }

  #trivia-box h1 {
    font-size: 1.4em;
    line-height:1.2em;
  }
 
  .btn-trivia {
    font-size:1.2em;
  }

  .point-ckpt .progress-value {
    font-size: .8em;
  }

  .reward-ckpt .progress-value {
    font-size: .8em;
  }


}

@media (min-width: 1920px) {

  #timer-bar progress {
    height: 5px;
  }

  #score-bar-ckpt {
      top:20px;
      left: 50%;
      transform: translate(-50%, 0);
      width:500px;
   }

    .home-ckpt  {
      width:7%;
      top:-5px;
      }

    .point-ckpt  {
      width:70%;
      height:20px;
    }

    .reward-ckpt  {
      width:20%;
      height:20px;
      margin-left:5px;
    }

    .point-ckpt .icon,
    .reward-ckpt .icon{
      position:relative;
      top:-8px;
      right:0;
    }

    .point-ckpt progress {
      width: 95%;
      height: 20px;
    }

    .reward-ckpt progress {
      width: 80%;
      height: 20px;
    }

    #trivia-container {
        bottom:-500px;
        left: 50%;
        transform: translate(-50%, 0);
      width: 500px;
    }

    #trivia-box {
    padding:15px 10px 10px;
    }

  .reward-img img{
    max-width: 450px;
    max-height: 250px;
    }

  #reward-dialog {
    width: 300px;
    }

  .trivia-right, .trivia-wrong {
    width:100%;
    height:300px;
    }

  .right-answer-text {
  font: normal 120px/1 "aclonica", Helvetica, sans-serif;
  }

  .wrong-answer-text {
    font: normal 120px/1 "aclonica", Helvetica, sans-serif;
  }

  #trivia-box h1 {
    font-size: 1.5em;
    line-height:1.2em;
  }
 
  .btn-trivia {
    font-size:1.2em;
  }

  .point-ckpt .progress-value {
    font-size: .8em;
  }

  .reward-ckpt .progress-value {
    font-size: .8em;
  }




}


/* End layout */


/* Styles */
.container-ckpt {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  overflow: hidden;
  font-weight:500;
}

.iframe-custom {
position:fixed; 
left:0; 
top:0; 
height:100%;
	}

iframe {
display: block; 
width:100%; 
height:100%;
margin: 0;
padding: 0;
border: none;
}

#timer-bar {
  display:block;
  position:fixed;
  color:#ccc;
  top:0px;
  left:0px;
  z-index: 9001;
}

#timer-bar progress {
  background-color: #ccc;
  border: 0;
  width: 100%;
  height: 5px;
}
#timer-bar progress::-webkit-progress-bar {
  background: #ccc;
}
#timer-bar progress::-webkit-progress-value {
  background: #C8525E;
}
.timer-bar progress::-moz-progress-bar {
  background: #C8525E;
}
#timer-bar .progress-value {
  line-height: 5px;
  font-size: .8em;
  color: #C8525E;
  float: left;
}

/* Chrome */
#score-bar-ckpt {
  position: fixed;
  opacity:0;
  z-index: 9001;
}

.home-ckpt  {
  position:relative;
  float:left;
  display:block;
}

.home-ckpt .fa-home {
  color:#ffffff;
   -webkit-filter: drop-shadow(5px 5px 5px #666);
  filter: drop-shadow(5px 5px 5px #666);
}

.point-ckpt  {
  position:relative;
  float:left;
  display:block;
  width:70%;
  height:20px;
  align-items:center;
}

.reward-ckpt  {
  position:relative;
  float:left;
  display:block;
  width:20%;
  height:20px;
  margin-left:5px;
  align-items:center;
}

.point-ckpt .icon,
.reward-ckpt .icon{
  position:absolute;
  top:-8px;
  right:0;
z-index:9003;
 -webkit-filter: drop-shadow(5px 5px 5px #666);
  filter: drop-shadow(5px 5px 5px #666);

}

/*rewardss bar*/

.point-ckpt progress {
  background-color: #ffffff;
  border: 0;
  width: 95%;
  height: 20px;
  border-radius: 2px;
   -webkit-box-shadow: 0px 6px 22px 2px rgba(0,0,0,0.35);
-moz-box-shadow: 0px 6px 22px 2px rgba(0,0,0,0.35);
box-shadow: 0px 6px 22px 2px rgba(0,0,0,0.35);
}
.point-ckpt progress::-webkit-progress-bar {
  background: #ffffff;
  border-radius: 2px;
}
.point-ckpt progress::-webkit-progress-value {
  background: #34A6C1;
   border-radius: 1px;
}
.point-ckpt progress::-moz-progress-bar {
  background: #34A6C1;
   border-radius: 1px;
}
.point-ckpt .progress-value {
  line-height: 20px;
  color: #93C8CC;
  float: left;
}


.reward-ckpt progress {
  background-color: #B5C258;
  border: 0;
  width: 80%;
  height: 20px;
  border-radius: 2px;
  border: 2px solid #B5C258;
  -webkit-box-shadow: 0px 6px 22px 2px rgba(0,0,0,0.35);
-moz-box-shadow: 0px 6px 22px 2px rgba(0,0,0,0.35);
box-shadow: 0px 6px 22px 2px rgba(0,0,0,0.35);
}
.reward-ckpt progress::-webkit-progress-bar {
  background-color: #B5C258;
  border-radius: 2px;
}
.reward-ckpt progress::-webkit-progress-value {
  background: #B5C258;
  border-radius: 1px;
}
.reward-ckpt progress::-moz-progress-bar {
  background: #B5C258;
  border-radius: 1px;
}

.reward-ckpt .progress-value {
line-height: 20px;
color: #C7CE67;
float: left;
}


/*Bg Disable*/
#grey-out{
position:fixed;
top:0;
left:0;
background:#000;
opacity:0;
z-index:998;
height:100%;
width:100%;}
				
.parent .popup {
  display: none;
}

.parent:hover .popup {
  display: block;
}

/*Trivia Box*/
#trivia-container {
  position: fixed;
  display:block;
  overflow: hidden;
  z-index: 9001;
  padding:0;
}

/*Trivia Toggle Button*/
#trivia-toggle {
  display:block;
  width:100%;
  background:transparent;
  z-index: 1;
  
  /*Align btn-toggle to the bottom*/
  position: relative;
  /*btn-toggle needs more espace to show border shadows*/
  height: 70px;
}

.btn-toggle {
  width: 70px;
  height: 70px;
  display:block;
  margin-left:auto;
  margin-right:auto;
  padding:2px;
  background-color: rgba(167, 162, 162, 0.74);
  color: rgba( 255, 255, 255, 0 );
  text-align:center;

    /* Circle */
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;

    text-shadow:none !important;
    
    /*Align to the bottom of the trivia-toggle parent div*/
    position: relative;
    margin: auto;
    top: 20px
}

.btn-toggle:hover {
    background-color: rgba( 255, 255, 255, 0.7 );
	color: rgba( 0, 0, 0, 0.8 );
    -webkit-box-shadow: 0px 0px 24px 6px rgba( 255, 255, 255, 0.8 );
    -moz-box-shadow: 0px 0px 24px 6px rgba( 255, 255, 255, 0.8 );
    box-shadow: 0px 0px 24px 6px rgba( 255, 255, 255, 0.8 );
    background-color: rgba( 255, 255, 255, 0.8 );
    -moz-transition: all 0.5s; /* Firefox */
    -webkit-transition: all 0.5s; /* Safari and Chrome */
    -o-transition: all 0.5s; /* Opera */
    transition: all 0.5s;
}

.btn-toggle-up:hover {
    background-color: rgba( 255, 255, 255, 0.7 );
    color: rgba( 0, 0, 0, 0.5 );
   -webkit-box-shadow: 0px 0px 24px 6px rgba( 255, 255, 255, 0.8 );
    -moz-box-shadow: 0px 0px 24px 6px rgba( 255, 255, 255, 0.8 );
    box-shadow: 0px 0px 24px 6px rgba( 255, 255, 255, 0.8 );
    background-color: rgba( 255, 255, 255, 0.8 );
    -moz-transition: all 0.5s; /* Firefox */
    -webkit-transition: all 0.5s; /* Safari and Chrome */
    -o-transition: all 0.5s; /* Opera */
    transition: all 0.5s;
}

.btn-toggle-up {
    width: 50%;
    height: 100%;
    display:block;
    margin-left:auto;
    margin-right:auto;
    padding:2px;
    background-color: rgba(167, 162, 162, 0.74);
    color: rgba( 255, 255, 255, 0.8 );
    text-align:center;
    /* Circle */
    border-radius: 50px 50px 0 0;
    -moz-border-radius: 50px 50px 0 0;
    -webkit-border-radius: 50px 50px 0 0;
    
    text-shadow:none !important;
    
    /*Align to the bottom of the trivia-toggle parent div*/
    position: relative;
    margin: auto;
}
				
/* Q&A Box */
#trivia-box {
    display:block;
    width:100%;
/*     background: #34A6C1; */
/*     background:rgba(52,166,193,0.9); */
    background: rgba( 0, 0, 0, 0.2 );
    border: 0.5px solid rgba( 4, 4, 4, 0 );
    border-radius: 8px;
/*
    -webkit-box-shadow: 0px 6px 42px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 42px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 42px 2px rgba(0,0,0,0.75);
*/
}

#trivia-box:hover {
    background-color: rgba(105, 101, 101, 0.8 );
    -moz-transition: all 0.8s; /* Firefox */
    -webkit-transition: all 0.8s; /* Safari and Chrome */
    -o-transition: all 0.8s; /* Opera */
    transition: all 0.8s;
}

#trivia-box h1 {
	display: block;
/*
	background: #ffffff;
	color: #C8525E;
*/
	color: rgba( 0, 0, 0, 1 );
    line-height:1.3em;
	padding: 10px;
	margin:0 0 12px 0;
	font-weight: 500;
	text-align:center;
	border-radius:12px;

    border: 1px solid rgba( 255, 255, 255, 0 );
    background-color: rgba( 255, 255, 255, 0.8 );
    -webkit-box-shadow: 0px 0px 10px 4px rgba( 255, 255, 255, 0.9 );
    -moz-box-shadow: 0px 0px 10px 4px rgba( 255, 255, 255, 0.9 );
    box-shadow: 0px 0px 10px 4px rgba( 255, 255, 255, 0.9 );

    -moz-transition: all 0.5s; /* Firefox */
    -webkit-transition: all 0.5s; /* Safari and Chrome */
    -o-transition: all 0.5s; /* Opera */
    transition: all 0.5s;
}


.btn-trivia {
  display: block;
  width:100%;
/*   background-color:#C8525E; */
  background-color: rgba( 0, 0, 0, 0.5 );
  -moz-border-radius:4px;
  -webkit-border-radius:8px;
  border-radius:8px;
/*   border:1px solid #cccccc; */
  border: 1px solid rgba( 4, 4, 4, 0 );
  cursor:pointer;
  color:#FFFFFF;
  font-weight: 300;
  padding:10px 7px;
  margin:8px 0 3px 0;
  text-decoration:none;
  text-align:center;
}

.btn-trivia:hover {
    -webkit-box-shadow: 0px 0px 24px 6px rgba( 255, 255, 255, 0.8 );
    -moz-box-shadow: 0px 0px 24px 6px rgba( 255, 255, 255, 0.8 );
    box-shadow: 0px 0px 24px 6px rgba( 255, 255, 255, 0.8 );
    color: rgba( 0, 0, 0, 1 );
    background-color: rgba( 255, 255, 255, 0.8 );
    -moz-transition: all 0.5s; /* Firefox */
    -webkit-transition: all 0.5s; /* Safari and Chrome */
    -o-transition: all 0.5s; /* Opera */
    transition: all 0.5s;
}

.btn-trivia:active {
  position:relative;
  top:1px;
  text-decoration:none;
}

.btn-correct {
    background-color: rgba( 0, 255, 0, 0.7 );
    -webkit-box-shadow: 0px 0px 20px 4px rgba( 0, 255, 0, 0.7 );
    -moz-box-shadow: 0px 0px 20px 4px rgba( 0, 255, 0, 0.7 );
    box-shadow: 0px 0px 20px 4px rgba( 0, 255, 0, 0.7 );
    -moz-transition: all 0.5s; /* Firefox */
    -webkit-transition: all 0.5s; /* Safari and Chrome */
    -o-transition: all 0.5s; /* Opera */
    transition: all 0.5s;
}

.btn-correct:hover {
    background-color: rgba( 0, 255, 0, 0.7 );
    -webkit-box-shadow: 0px 0px 20px 4px rgba( 0, 255, 0, 0.7 );
    -moz-box-shadow: 0px 0px 20px 4px rgba( 0, 255, 0, 0.7 );
    box-shadow: 0px 0px 20px 4px rgba( 0, 255, 0, 0.7 );
    -moz-transition: all 0.5s; /* Firefox */
    -webkit-transition: all 0.5s; /* Safari and Chrome */
    -o-transition: all 0.5s; /* Opera */
    transition: all 0.5s;
}

.btn-correct:active {
    background-color: rgba( 0, 255, 0, 0.7 );
    -webkit-box-shadow: 0px 0px 20px 4px rgba( 0, 255, 0, 0.7 );
    -moz-box-shadow: 0px 0px 20px 4px rgba( 0, 255, 0, 0.7 );
    box-shadow: 0px 0px 20px 4px rgba( 0, 255, 0, 0.7 );
    -moz-transition: all 0.5s; /* Firefox */
    -webkit-transition: all 0.5s; /* Safari and Chrome */
    -o-transition: all 0.5s; /* Opera */
    transition: all 0.5s;
}

.btn-wrong{
    background-color: rgba( 255, 102, 0, 0.6 );
    -webkit-box-shadow: 0px 0px 10px 4px rgba( 255, 102, 0, 0.6 );
    -moz-box-shadow: 0px 0px 10px 4px rgba( 255, 102, 0, 0.6 );
    box-shadow: 0px 0px 10px 4px rgba( 255, 102, 0, 0.6 );
    -moz-transition: all 0.5s; /* Firefox */
    -webkit-transition: all 0.5s; /* Safari and Chrome */
    -o-transition: all 0.5s; /* Opera */
    transition: all 0.5s;
}

.btn-wrong:hover {
    background-color: rgba( 255, 102, 0, 0.6 );
    -webkit-box-shadow: 0px 0px 10px 4px rgba( 255, 102, 0, 0.6 );
    -moz-box-shadow: 0px 0px 10px 4px rgba( 255, 102, 0, 0.6 );
    box-shadow: 0px 0px 10px 4px rgba( 255, 102, 0, 0.6 );
    -moz-transition: all 0.5s; /* Firefox */
    -webkit-transition: all 0.5s; /* Safari and Chrome */
    -o-transition: all 0.5s; /* Opera */
    transition: all 0.5s;
}
.btn-wrong:active {
    background-color: rgba( 255, 102, 0, 0.6 );
    -webkit-box-shadow: 0px 0px 10px 4px rgba( 255, 102, 0, 0.6 );
    -moz-box-shadow: 0px 0px 10px 4px rgba( 255, 102, 0, 0.6 );
    box-shadow: 0px 0px 10px 4px rgba( 255, 102, 0, 0.6 );
    -moz-transition: all 0.5s; /* Firefox */
    -webkit-transition: all 0.5s; /* Safari and Chrome */
    -o-transition: all 0.5s; /* Opera */
    transition: all 0.5s;
}



/*Validation animations*/


/*Trivia box rewards*/

.trivia-reward {
  position:relative;
  width:100%;
}

.trivia-reward h2 {
  display: block;
  color: #ffffff;
  font-weight: 500;
  line-height:1em;
  text-align:center;
  margin:8px 0;
}

.trivia-reward h3 {
  display: block;
  color: #ffffff;
  font-size: 1.1em;
  font-weight: 300;
  text-align:center;
  line-height:1px;
  margin:5px 0 10px 0;
}

.reward-img {
    width:100%;
    border-radius: 12px;
    border: 1px solid rgba( 255, 255, 255, 0 );
    background-color: rgba( 255, 255, 255, 0.5 );
    -webkit-box-shadow: 0px 0px 10px 4px rgba( 255, 255, 255, 0.6 );
    -moz-box-shadow: 0px 0px 10px 4px rgba( 255, 255, 255, 0.6 );
    box-shadow: 0px 0px 10px 4px rgba( 255, 255, 255, 0.6 );
    -moz-transition: all 0.5s; /* Firefox */
    -webkit-transition: all 0.5s; /* Safari and Chrome */
    -o-transition: all 0.5s; /* Opera */
    transition: all 0.5s;
}

.reward-img img{
  display: block;
  margin-left:auto;
  margin-right:auto;
  }

#reward-detail {

  width:100%;
  text-align:center;
    margin-top:5px;
}
  
#btn-reward-detail{
  color: #000000;
  font-size:0.9em;
  text-decoration:underline;
}

#trigger-details:hover{
  text-decoration:none;
}

/* HOVER STYLES */
#reward-dialog {
  display: none;
  position: absolute;
  padding: 8px;
  background: #ffffff;
  border:3px solid #B5C258;
  color: #666666;
  font-size: 0.9em;
  z-index:9001;
}



.trivia-right, .trivia-wrong {
display: flex;
justify-content: center; /* align horizontal */
align-items: center; /* align vertical */
overflow: hidden;
}

/*Right Answer animation*/

.right-answer-text {
  padding: 20px;
  border: none;
  color: rgba(255,255,255,1);
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-shadow: 0 0 10px rgb(255,255,255) , 0 0 20px rgb(255,255,255) , 0 0 30px rgb(255,255,255) , 0 0 35px #EAB505 , 0 0 54px #EAB505 , 0 0 71px #EAB505 , 0 0 79px #EAB505 ;
  display:block;
  margin:0 auto;
  text-align: center;

}

.wrong-answer-text {
  width:100%;
  padding: 20px;
  border: none;
  color: rgba(255,255,255,1);
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  text-shadow: 0 0 10px rgb(255,255,255) , 0 0 20px rgb(255,255,255) , 0 0 30px rgb(255,255,255) , 0 0 35px #EAB505 , 0 0 54px #EAB505 , 0 0 71px #EAB505 , 0 0 79px #EAB505 ;
text-align:center;

}

/*Alex - 12-Feb-2016*/
.count_down_bar {
  position: absolute;
  top:0;
  left:0;
  z-index:100;
  width:100%;
  height:5px;
  background: #C8525E;
}

.points_bar {
  position: absolute;
  top:0;
  left:0;
  z-index:100;
  width:95%;
  height:20px;
  background: #34A6C1;
}

.flying-coin {
    background:url(http://primg.checkpointchallenge.com:81/utils/icon-points.png);
    width:27px;
    height:29px;
    position:absolute;
/*
    width: auto;
    height: auto;
    opacity: 0.8;
*/
}

.flying-reward {
    background:url(http://primg.checkpointchallenge.com:81/utils/icon-rewards.png);
    width:27px;
    height:29px;
    position:absolute;
}

/*This is for the fireworks, let us find a better way later*/
/*
canvas {
    -webkit-transform: translateZ(0);
}
*/

.fa_button_toggle {
    position: absolute;
    top: 30%;
    right: 30%;
    margin: auto;
}

.hourglassSVG {
    max-width: 100%;
}
